*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
body{
 display:flex;
    height: 120vh;
    justify-content: center;
    align-items:center;
    padding: 20px;
    background: linear-gradient(135deg,white,grey);
    
}
.container{
    max-width: 650px;
    width:100%;
    background: #fff;
    padding: 25px 50px;
    border-radius: 5px;
}
.container .title{
    font-size:45px;
    font-weight: 100;
    position: relative;
    background-color: #828183;
}
.container form1 .user-details{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
 .user-details .input-box{
    margin-bottom: px;
    width:calc(100%/2-20px);
}
.user-details .input-box .details{
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}
.user-details .input-box input{
    height:45px;
    width:100%;
    outline:none;
    border-radius:5px;
    border:1px solid #ccc;
    padding-left:15px; 
   
}
form .button{
    height: 45px;
    margin :45px 0;
}
form .button input{
    height:100%;
    width:100%;
    color:black;
    border:none;
    font-size:18px;
    font-weight: 500;
    border-radius: 5px;
    letter-spacing: 1px;
    background: linear-gradient(135deg,rgb(245, 241, 241),#59525c);
}
form .button input:hover{
    background: linear-gradient(135deg,#171618,#9b59b6)
}
@media(max-width:584px)
{
    .container{
        max-width:100%;
    }
    form .gender-details .category{
        width:100%;
    }
    .container form .user-details{
        max-height: 300px;
       
    }

}
