 *{
  margin:0;
  padding:0;
}
.form
{
  padding:100px;
  width: 400px;
  background-color: #fff;
  margin: auto;
  max-width: 500px;
  
}
.form-text{
  text-align: center;
  margin: 40px 0;
  
}

.main-form div{
  margin:10px 20px;
  width:300px;
  display: inline-block;
}
.main-form div input{
  width:100%;
  font-family: 'Akaya Telivigala', cursive;
  background: skyblue;
  border: 1px solid teal;
  font-size: 15px;
  color: teal;
  outline: none;
  padding: 3px 0 3px 10px;
  margin-top:10px;  
}
.main-form div select{
  width: 100%;
  font-family: 'Akaya Telivigala', cursive;
  background: black;
  border: 1px solid teal;;
  font-size: 15px;
  color: black;
  padding: 3px 0 3px 10px;
  margin-top: 10px;
}

.main-form div span{
  width: 100%;
  font-family: 'Akaya Telivigala', cursive;
  
  color: deepskyblue;
}
#submit
{
  width:100%;
  text-align: center;
}
#submit input{
  font-family: 'Akaya Telivigala' , cursive;
  width: 90px;
  text-align: center;
}

.centerdiv{

  display: flex;
  justify-content: center;
  align-items: top;
  color: #fff;
  font-weight:700;
}
body{
      background: linear-gradient(skyblue,white);
      margin: 0;
      padding: 0;
      font-family: sans-serif;
      
      
    }
